@tailwind base;
@tailwind components;
@tailwind utilities;

input:checked ~ .dot {
  transform: translateX(100%);
}

.blue-circle {
  animation-delay: 0.1s;
}
.green-circle {
  animation-delay: 0.2s;
}
.red-circle {
  animation-delay: 0.3s;
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
